venv*/
*.txt
*.csv
*.pyc
*.pyo
*.xlsx
*.xls
*.dbf
*.json
*.xml
*.p
*.npy
*.h5
__pycache__/
labeled_files/

# Blacklist
*word_bag.db
*import_db.py
*lookup original.db

# Whitelist
!LICENSE.txt
!README.md
!requirements.txt
